html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;

  /* margin: 0rem 10%; */
  background: #f1f1f1;
  --primary: #2d2d2d;
  --secondary: #535353;
  --special: #e29097;
  --action: #e29097;
  scrollbar-gutter: stable;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.video-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--primary);
  z-index: 300;
}

.video-modal-body {
  position: absolute;
  inset: 40px;
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  cursor: default;
}

h2 {
  font-size: 1.2rem;
  color: var(--primary);
}

h3 {
  font-size: 1rem;
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 150%;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  margin-bottom: 500vh;
}
.loading p {
  font-size: 1.5rem;
  color: var(--primary);
}

.loading img {
  animation-name: ckw;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
}

@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
